# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
*.egg-info/
.eggs/
dist/
build/
*.log
*.sqlite3

# Flask
instance/
.webassets-cache

# React
node_modules/
build/
*.log
*.env

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Other IDEs
*.sublime-project
*.sublime-workspace

# Temporary files
*.bak
*.swp
*.tmp
